body {
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.visualFeedbackSuccess {
  background-color: green;
  color: white;
}

.visualFeedbackFailure {
  background-color: red;
  color: white;
}

.visualFeedbackDisappear {
  transition: opacity 1s;
  opacity: 0;
}

table th {
	text-align: center;
}

.unauthorisedDisabledLook {
	opacity: 0.4;
}

.myIconBar {
	background-color: orange;
}

.affix {
	z-index: 1;
	bottom:0;
	width: 100%;
	background-color: blue;
	left: 0;
	padding: 5px;
}


